{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>PRODUCT FIND!!</h1>
    <h1>ID: {{product.id}}</h1>
    <h1>Name: {{product.name}}</h1>
    <h1>Price: {{product.price}}</h1>
    <h1>Description: {{product.description}}</h1>
</div>
{% endblock %}
